@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family : "Roboto", sans-serif;
}

body {
    background : linear-gradient(to right, #61f4de,#6e78ff) ;
    display : flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    background-color: white;
    padding: 10px;
    width: 450px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
h1{
    background-color : linear-gradient(to right, #61f4de,#6e78ff) ;
    text-align: center;
    margin-bottom: 10px;
}
.full_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    width : 90%;
    padding: 10px 5px;
    height: 39px;
    border: 1px solid #b3b2b2;
    outline:0;
    border-radius: 6px 0 0 6px;
}
button{
    width: 10%;
    font-size: 20px;
    height: 39px;
    border : 0;
    background-color: #4285f4;
    color : #fff;
    border-radius: 0 6px 6px 0;
}
.paragraphe_style {
    margin : 10px 0;
    padding : 10px 0;
    padding-left: 5px;
    border-radius: 6px;
    color : #fff;
    background-color: #699df0;
    word-break: break-all;
    cursor : pointer;
    animation : anime 0.5s ease;
}
.paragraphe_style:last-child{
    margin-bottom: 0;
}

@keyframes anime {
    from {
        transform: translateY(20px);
    }
}

.paragraph_click {
    background-color: rgb(247,118,118);
    text-decoration: line-through;
}

.paragraph_click_back {
    background-color: #699df0;
    text-decoration: none;
}
.customContextMenu button{
    width: 100%;
    font-size: 16px;
    height: 30px;
    color : #000;
    padding-inline: 5px;
    background-color : #e4e4e4;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.customContextMenu button:hover{
    background-color : #45be5f;
    transition: all 0.2s;
}
.customContextMenu {
    list-style-type : none;
}
.customContextMenu li{
    margin-bottom: 3px;
}
